$darkblue: #1b5479;
$orange: #D35400;
$blue: #3694d3;
$small-cluster-color: $blue;
$medium-cluster-color: #287fb8;
$large-cluster-color: #216897;
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
a {
    color: $orange;
}
hr {
    border-top: 1px solid $darkblue;
}
.switch {
    display: inline-block;
    margin: 4px;
    padding: 2px 6px;
    border-radius: 2px;
    background-color: transparentize(white, 0.8);
    color: #ddd;
    &.showing {
        background-color: $medium-cluster-color;
    }
}
/** Sidebar display */

@media (max-width: 990px) {
    .sidebar {
        width: 25%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        padding: 1%;
        background: transparentize(black, 0.2);
        color: $blue;
        .header {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 15%;
            .blue {
                font-size: 1.5em;
                margin-left: .1em;
            }
            .orange {
                font-size: 40px;
                line-height: 0.8em;
            }
        }
        .orange {
            color: $orange;
        }
        .loading {
            margin-top: 30%;
            margin-left: .1em;
            width: 100%;
            font-size: 0.8em;
            text-align: center;
            .sk-spinner {
                background-color: $orange;
            }
            p {
                margin-top: 1em;
            }
        }
        .marker-info {
            //margin-top: 30%;
            margin-left: .1em;
            width: 100%;
            font-size: 1em;
            .event {
                font-weight: 700;
                font-size: .7em;
                text-transform: uppercase;
            }
            .date {
                font-weight: 300;
                font-size: 0.95em;
            }
            .address {
                font-size: 0.9em;
            }
            .city {
                font-size: 0.8em;
                font-weight: 700;
            }
        }
        .controls {
            width: 100%;
            font-size: .8em;
            text-transform: uppercase;
            font-weight: 700;
            text-align: left;
            cursor: pointer;
            padding-bottom: 15%;
            .lbl {
                font-size: 0.8em;
                font-weight: 300;
                padding-bottom: 1%;
            }
            a {
                color: $darkblue;
                padding-top: .1em;
                padding-bottom: .1em;
            }
            a:hover, a:focus {
                color: $blue;
                text-decoration: none;
            }
        }
        .footer {
            width: 25%;
            font-size: 0.7em;
            position: fixed;
            bottom: 0;
            left: 0;
            text-align: center;
        }
    }
}
@media (min-width: 990px) {
    .sidebar {
        width: 20%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        padding: 1%;
        background: transparentize(black, 0.2);
        color: $blue;
        .header {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 15%;
            .blue {
                font-size: 2em;
                margin-left: .1em;
            }
            .orange {
                font-size: 4em;
                line-height: 0.8em;
            }
        }
        .orange {
            color: $orange;
        }
        .loading {
            margin-top: 30%;
            margin-left: .1em;
            width: 100%;
            font-size: 0.8em;
            text-align: center;
            .sk-spinner {
                background-color: $orange;
            }
            p {
                margin-top: 1em;
            }
        }
        .marker-info {
            margin-top: 30%;
            margin-left: .1em;
            width: 100%;
            font-size: 1.3em;
            .event {
                font-weight: 700;
                text-transform: uppercase;
            }
            .date {
                font-weight: 300;
                font-size: 0.95em;
            }
            .address {
                font-size: 0.9em;
            }
            .city {
                font-size: 0.8em;
                font-weight: 700;
            }
        }
        .controls {
            width: 100%;
            font-size: 1em;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            cursor: pointer;
            .lbl {
                font-size: 0.8em;
                font-weight: 300;
                padding-bottom: 1%;
            }
            a {
                color: $darkblue;
            }
            a:hover, a:focus {
                color: $blue;
                text-decoration: none;
            }
        }
        .footer {
            width: 20%;
            font-size: 0.8em;
            position: fixed;
            bottom: 0;
            left: 0;
            text-align: center;
        }
    }
}
/** Map Styling */

.leaflet-control-container.leaflet-left {
    right: 0;
}
.marker-cluster-small {
    background-color: transparentize($small-cluster-color, 0.7);
    div {
        background-color: transparentize($small-cluster-color, 0.2);
    }
    span {
        color: white;
    }
}
.marker-cluster-medium {
    background-color: transparentize($medium-cluster-color, 0.7);
    div {
        background-color: transparentize($medium-cluster-color, 0.2);
    }
    span {
        color: white;
    }
}
.marker-cluster-large {
    background-color: transparentize($large-cluster-color, 0.7);
    div {
        background-color: transparentize($large-cluster-color, 0.2);
    }
    span {
        color: white;
    }
}
/** Link effect styling */

.cl-effect-1 a::before, .cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}
.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}
.cl-effect-1 a:hover::before, .cl-effect-1 a:hover::after, .cl-effect-1 a:focus::before, .cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
