body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
a {
    color: #D35400;
}

.sidebar {
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    padding: 1%;
    background: transparentize(black, 0.2);
    color: #3694d3;
    .header {
        font-weight: 700;
        text-transform: uppercase;
        .blue {
            font-size: 2em;
            margin-left: .1em;
        }
        .orange {
            font-size: 4em;
            line-height: 0.8em;
        }
    }
    .orange {
        color: #D35400;
    }
    .loading {
        margin-top: 30%;
        margin-left: .1em;
        width: 100%;
        font-size: 0.8em;
        text-align: center;
        .sk-spinner {
            background-color: #D35400;
        }
        p {
            margin-top: 1em;
        }
    }
    .marker-info {
        margin-top: 30%;
        margin-left: .1em;
        width: 100%;
        font-size: 1.3em;
        .event {
            font-weight: 700;
            text-transform: uppercase;
        }
        .date {
            font-weight: 300;
            font-size: 0.95em;
        }
        .address {
            font-size: 0.9em;
        }
        .city {
            font-size: 0.8em;
            font-weight: 700;
        }
    }
    .footer {
        width: 20%;
        font-size: 0.8em;
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
    }
}

$small-cluster-color: #3694d3;
$medium-cluster-color: #287fb8;
$large-cluster-color: #216897;
.leaflet-control-container.leaflet-left {
    right: 0;
}
.marker-cluster-small {
    background-color: transparentize($small-cluster-color, 0.7);
    div {
        background-color: transparentize($small-cluster-color, 0.2);
    }
    span {
        color: white;
    }
}
.marker-cluster-medium {
    background-color: transparentize($medium-cluster-color, 0.7);
    div {
        background-color: transparentize($medium-cluster-color, 0.2);
    }
    span {
        color: white;
    }
  }
.marker-cluster-large {
    background-color: transparentize($large-cluster-color, 0.7);
    div {
        background-color: transparentize($large-cluster-color, 0.2);
    }
    span {
        color: white;
    }
}
